#profile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    z-index: 9;
    transition-duration: .5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileContent {
    width: 100%;
    min-width: 500px;
    padding: 2em;
    box-sizing: border-box;

}

.active {
    width: 100vw;
}

.idle {
    width: 0
}

input,
textarea {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: .5em;
    resize: none;
    outline: none;
    border: 1px solid grey;
    box-sizing: border-box;
}