<header>
    <!-- https://www.youtube.com/watch?v=855KrFfF9-w -->
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-iteam-center d-flex">
            <i style="font-size: 40px; color: aliceblue;" class="fas fa-shipping-fast">
                &nbsp;
            </i>
           <strong style="font-size: 30px; color: aliceblue;">   Flipkart
            </strong>
            <div class="form-group"><input type="text" placeholder="search product" class="form-control"></div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button class="btn btn-primary">
            <i style="font-size: 30px; " class="fas fa-cart-plus"></i>
            <div class="badge bg-danger " style="font-size: 10px;">5</div>
        </button>
    </div>
</header>