<app-header></app-header>
<div class="movie-container">
    <div class="top">
        <div class="left">
            <div class="name">{{movie?.name}}</div>
            <div class="rating"></div>
            <div class="cover">
                <img [src]="movie?.cover" alt="" srcset="">
            </div>
        </div>
        <div class="right container">
            <div class="title ">Rate this movie</div>
            <div class="rating-form">
                <div class="form-group">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Rating</label>
                            <!-- <input type="text" class="form-control" id="exampleInputPassword1"> -->
                        </div>
                        <label class="rating-label">
                            <input class="rating" max="5"
                                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)" step="0.25"
                                style="--fill: #C8102E;--symbol:var(--heart);--value:2.75" type="range" value="2.75">
                        </label>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="buttom"></div>
</div>