.home-container{
    display: flex;
    .all-movie{
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 2px solid rgb(209,176,10);
        padding: 20px 40px;
        font-family: "Roboto",sans-serif;
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                text-transform: uppercase;
                font-weight: bold;
                border-left: 5px solid rgb(209, 176, 10);padding-left: 10px;
            }
            .view-all{
                color:hsl(50, 77%, 51%) ;
                cursor: pointer;
            }
        }
        .movie-thumbnail{
            display: flex;justify-content: space-between;
            .movie{
                .cover{
                    img{border-radius: 5px;padding: 5px;
                    height: 200px;width: 150px;}
                }
                .details{
                    width: 180px;
                    .name{font-size: 10px;
                        font-weight: bold;height: 50px;margin-top: 5px;cursor: pointer;
                    }
                }
            }
        }
    }
    .popular-movie{
        width: 25%;
        min-height: calc(100vh - 80px);
        padding: 20px 40px;
        font-family: "Roboto",sans-serif;
        h4{
            text-transform: uppercase;
            font-weight: bold;
            border-left: 5px solid rgb(209, 176, 10);padding-left: 10px;
        }
        .name{
            cursor: pointer;
        }
    }
}